*.class
*.jar
*.war
*.ear
hs_err_pid*
GPATH
GRTAGS
GTAGS

target
project/project

.idea

bin
*.tmp
*.bak
*.swp
.settings
.project
.classpath
ensime.sbt
.ensime
.ensime_cache
.sbt-hydra-history
/db

# Mac
.DS_Store

logs
*.log
